# Environment and secrets
.env
*.env
.rocketride/

# Datasets and large binary files
Dataset/
Dataset/**
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
*.parquet
*.tif
*.tiff


# Model weights and artifacts
models/*
!models/.gitkeep
artifacts/*
!artifacts/.gitkeep

# Python cache & virtual environments
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*
